/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
.page_main__nw1Wk {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.page_description__lvaOp {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.page_description__lvaOp a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.page_description__lvaOp p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.page_code__9AfUJ {
  font-weight: 700;
  font-family: var(--font-mono);
}

.page_grid__JZ9Cz {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.page_card__Cf__u {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.page_card__Cf__u span {
  display: inline-block;
  transition: transform 200ms;
}

.page_card__Cf__u h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.page_card__Cf__u p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  text-wrap: balance;
}

.page_center__NcdcW {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.page_center__NcdcW::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.page_center__NcdcW::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.page_center__NcdcW::before,
.page_center__NcdcW::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.page_logo__ikIZE {
  position: relative;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .page_card__Cf__u:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .page_card__Cf__u:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .page_card__Cf__u:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .page_content___38fW {
    padding: 4rem;
  }

  .page_grid__JZ9Cz {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .page_card__Cf__u {
    padding: 1rem 2.5rem;
  }

  .page_card__Cf__u h2 {
    margin-bottom: 0.5rem;
  }

  .page_center__NcdcW {
    padding: 8rem 0 6rem;
  }

  .page_center__NcdcW::before {
    transform: none;
    height: 300px;
  }

  .page_description__lvaOp {
    font-size: 0.8rem;
  }

  .page_description__lvaOp a {
    padding: 1rem;
  }

  .page_description__lvaOp p,
  .page_description__lvaOp div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .page_description__lvaOp p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    -webkit-backdrop-filter: blur(24px);
            backdrop-filter: blur(24px);
  }

  .page_description__lvaOp div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .page_grid__JZ9Cz {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .page_vercelLogo__YYFl1 {
    filter: invert(1);
  }

  .page_logo__ikIZE {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes page_rotate__xIioM {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/styles/Header.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.Header_header__H0gOn {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 20px;
    gap: 20px;
    justify-content: space-between;
    border-top: 4px solid black;
    border-bottom: 8px solid black;
    border-left: 14px solid black;
  }
  
  .Header_logo__V0SFW {
    display: block;
    padding: 20px 0px;
    width: 148px;
    min-width: 148px;
    align-self: center;
  }
  
  .Header_logo__image__dDBhT {
    width: 100%;
  }
  
  .Header_menu__Weu0r {
    display: flex;
    width: 90%;
    justify-content: space-between;
    border-left: 14px solid black;
    justify-self: end;
  }
  
  .Header_menu__list___o_OU {
    display: grid;
    grid-gap: 4px;
    gap: 4px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    width: 100%;
  }
  
  .Header_menu__item__A4PJ8 {
    display: flex;
    width: 100%;
  }
  
  .Header_menu__link__J0frg {
    font-family: 'Rubic One', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px 10px;
    text-transform: uppercase;
    font-size: 30px;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
    box-shadow: 4px 4px 0 black, -4px -4px 0 black, -4px 4px 0 black, 4px -4px 0 black;
  }
  
  .Header_menu__link__J0frg:hover {
    background-color: #FFFF00;
  }
  
  .Header_auth__LzKPq {
    display: flex;
  }
  
  .Header_auth__button__OJ8dj {
    font-size: 30px;
    font-family: 'Rubic One', sans-serif;
    background-color: transparent;
    border: none;
    padding: 12px 20px 10px;
    border-left: 4px solid black;
    text-transform: uppercase;
    color: white;
    background-color: black;
    transition: color 0.3s ease-in-out;
  }
  
  .Header_auth__button__OJ8dj:hover {
    color: #FFFF00;
  }

  @media (max-width: 768px) {
    .Header_header__H0gOn {
      grid-template-columns: 1fr;
    }
  
  }
/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/styles/Footer.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.Footer_footer__Dqzgn {
    background-color: black;
    border-top: 4px solid white;
    border-left: 14px solid white;
    color: white;
    padding: 0px 115px 0px 24px;
    display: flex;
    justify-content: space-between;
  }
  
  .Footer_footer__logo__Cb6CJ {
    display: block;
    padding: 20px 0px;
    width: 100%;
    align-self: center;
  }
  
  .Footer_footer__logo_name__uBBFJ {
    font-family: 'Rubic One', sans-serif;
    text-transform: uppercase;
    font-size: 26px;
  }
  
  .Footer_social_list__QH1hg {
    display: flex;
    border-left: 14px solid white;
  }
  
  .Footer_footer__Dqzgn .Footer_social_list__link__2ANMu {
    text-transform: uppercase;
    font-weight: bold;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border: 0;
    border-right: 4px solid white;
    color: white;
    height: 100%;
    border-top: 0;
    border-bottom: 0;
  }
  
  .Footer_footer__Dqzgn .Footer_social_list__link__2ANMu:hover {
    background-color: #FFFF00;
    color: black;


  }

  .Footer_footer__logo-copy__PfF_u {

  }

  @media (max-width: 1440px) {
    .Footer_footer__Dqzgn {
      padding: 0px 90px 0px 24px;
    }
  }

  @media (max-width: 768px) {
    .Footer_footer__Dqzgn {
      padding-right: 0;
    }
  }

  @media (max-width: 650px) {
    .Footer_footer__Dqzgn {
      flex-direction: column;
      padding: 14px;

      .Footer_footer__Dqzgn .Footer_social-list__link__T0QD6 {
        border: 4px solid white;
        padding: 10px;
        font-size: 24px;
      }
    }
    }
/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/styles/Banner.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.Banner_banner__3ahrS {
    padding: 112px 40px 112px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    gap: 20px;
  }
  
  .Banner_banner__title__y8U0A {
    font-size: 42px;
    margin-bottom: 20px;
    max-width: 708px;
  }
  
  .Banner_banner__text-block__htrcG {
    line-height: 1.6;
    margin-bottom: 40px;
    padding-left: 80px;
    max-width: 630px;
    letter-spacing: 1.5;
  }
  
  .Banner_banner__link__AlXlb {
    display: block;
    margin-left: 80px;
  }
  
  .Banner_banner__image__gEyvQ {
    width: 100%;
    max-width: 228px;
    box-shadow: 8px 8px 0 black;
    margin-right: 40px;
    align-self: center;
    justify-self: center;
  }

  @media (max-width: 1440px) {
  .Banner_banner__title__y8U0A {
    font-size: 30px;
  }
}

  @media (max-width: 1024px) {
    .Banner_banner__3ahrS {
      grid-template-columns: 1fr;
      padding: 80px 40px;
    }
  
    .Banner_banner__title__y8U0A {
      width: 70%;
      max-width: 100%;
    }
  
    .Banner_banner__text-block__htrcG {
      max-width: 100%;
    }
  
    .Banner_banner__image__gEyvQ {
      display: none;
    }
  }
    
  @media (max-width: 768px) {
    .Banner_banner__text-block__htrcG {
          padding-left: 0;
        }
        .Banner_banner__link__AlXlb {
          margin-left: 0;
        }
    }

    @media (max-width: 650px) {

        .Banner_banner__3ahrS {
          padding: 80px 14px;
        }
    }
/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/styles/Promo.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.Promo_promo__ja9Zp {
    background-color: #2400FF;
    color: white;
    padding: 40px 260px;
    grid-gap: 20px;
    gap: 20px;
    margin: 40px auto 0;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  
  
  .Promo_promo__title__Tr9Qu {
    font-size: 42px;
    margin-bottom: 26px;
    line-height: 1;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .Promo_promo__description__EE904 {
    line-height: 1.5;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 26px;
    max-width: 553px;
    width: 80%;
    margin-left: 108px;
  }
  
  .Promo_promo__image__8ElQr {
    align-self: end;
    justify-self: end;
  }
  
  .Promo_promo__button__vawlY {
    color: white;
    border-color: white;
    margin-left: 108px;
  }
  
  .Promo_promo__button__vawlY:hover {
    background-color: white;
    color: #2400FF;
  }
  
  .Promo_promo-code__052UM {
    color: yellow;
  }
  
  .Promo_promo__button__vawlY:has(.Promo_promo-code__052UM):hover {
    background-color: transparent;
    cursor: default;
  }

  @media (max-width: 1440px) {
    .Promo_promo__ja9Zp {
        padding: 40px 120px;
      }
    
      .Promo_promo__title__Tr9Qu {
        font-size: 30px;
      }
      .Promo_promo__description__EE904 {
        font-size: 20px;
        margin-left: 90px;
      }
      .Promo_promo__button__vawlY {
        margin-left: 90px;
      }
    }

    @media (max-width: 1024px) {
        .Promo_promo__ja9Zp {
            padding: 80px 40px;
          }
        
    }

    @media (max-width: 768px) {
        .Promo_promo__description__EE904 {
            margin-left: 0;
          }
        
          .Promo_promo__button__vawlY {
            margin-left: 0;
          }
    }

    @media (max-width: 650px) {
  
        .Promo_promo__ja9Zp {
          grid-template-columns: 1fr;
          gap: 80px;
          padding: 80px 14px;
        }
      
        .Promo_promo__image__8ElQr {
          max-width: 500px;
          justify-self: start;
        }
    }
